{:prod {; If you set credentials, remove this file from source control!
        :biff.datomic/client
        {:server-type :cloud
         :system "..."}
        :biff.datomic/db-name "biff-example"
        ; Uncomment to use filesystem storage in production instead of jdbc:
        ; :biff.crux/topology :standalone
        :example.biff/host "example.com"
        :example.mailgun/api-key "..."}
 :dev {:inherit [:prod]
       :biff/dev true
       :biff.datomic/client
       {:server-type :dev-local
        :system "Biff-Example"}
       :example.biff/host "localhost"}}
